 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    scroll-behavior: smooth;
}

.headerbar{
    display:none; 
}
.searchicon{
display: block;
}

.logo  {
    font-size: 2rem;
    color: rgb(255, 255, 255);
     font-weight: 400;
    margin-left: 20px;
    cursor: default;
  }

.bar {
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    background-color: rgb(248,232,217);
    border-bottom: 2px solid rgb(252, 196, 124);
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}

.header ul{
    display: flex;
    align-items: center;
}
.header ul li:hover {
    color: rgb(253, 57, 8);
}
 .nav ul li{
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
 }   
 .nav a{
    padding: 0px 10px;
    font-size:14px ;
    font-weight: bold;
  }

  .acc  {
    flex: 0.1;
  }

  .acc ul {
    display: flex;
    justify-content: end;
    margin-right: 60px;

}
.acc ul li{
    padding: 0 15px;
    font-size: 18px;
}

  .bar i:hover{
    color: rgb(253 ,57, 8);
  }

  .search{
    display: none ;
    width: 200px;
    justify-content: center;
  }

  .search input {
    width: 100%;
    outline: none;
    border: none  ;
    border-radius:50px 0px 4px ;
    padding: 5px;
  }

  .srchicon {
    background-color: rgb(255, 210, 210);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
  }

 .home{
    background-color: rgb(248, 232, 217);
    padding: 0 7%;
 }

 

 .main_slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
 }
 
 .main_slide .imgs{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
 }

 .main_slide div{
    padding-top: 20px;
     font-size: 30px;
}

.main_slide div p{
    font-size: 16px;
    padding: 20px 0;
}

.main_slide div span{
text-decoration: underline;
 }

.redbtn {
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: aliceblue;
    line-height: 50px;
    background-color: rgb(253, 57, 8) ;
    border-radius: 5px;
    border: 1px solid  rgb(253, 57, 8);
    box-shadow: 0 10px 15px  rgb(253, 57, 8);
    transition: all 0.2s;
}

.redbtn i{
    color: white;
    transition: all 0.2s;
}

.redbtn:hover{
    background-color: white;
    box-shadow: 0 2px 15px  rgb(253, 57, 8);
    border: 1px solid  rgb(253, 57, 8);
    color:  rgb(253, 57, 8);
}

.redbtn:hover i{
    color: rgb(253, 57, 8);
}

.food-items {
    margin: 70px 0;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
  
}

.item {
    width: 250px;
    padding: 7px;
    text-align: center;
}
.item img{
    width: 160px;
    margin-bottom: 15px;
}

.item p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.white_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: rgb(253, 77, 8);
    line-height: 50px;
    border: 1px solid rgb(253, 77, 8);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgb(250,120,69);
    transition: all 0.2s;
}
.white_btn:hover{
    color:white;
    background-color: rgb(253, 77, 8);
    box-shadow: 0 10px 15px rgb(250,120,69);
}
.item .redbtn,.item .white_btn{
    width: 120px;
    line-height: 35px;
}
.main_slide2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main_slide2 .fav-head{
    text-align: center;
    width: 450px;
    margin-bottom: 30px;
}

.main_slide2 .fav-head h3{
    font-size: 30px;
    padding: 20px 0;
}

.main_slide2 .fav-head p{
    font-size: 13px;
    text-align: center;

}

.main_slide2 .fav-food {
    display: flex;
    justify-content: space-around;
    margin: 10px 5px;
    width: 90%;
}

.main_slide2 .fav-food video {
    margin: 10px 25px ;
    border-radius: 10px;
}

.main_slide2 .fav-food video:hover{
box-shadow: 0 2px 50px  rgb(136, 105, 93);
}

.main_slide2 .fav-food .item{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgb(119, 119 , 119, 0.438);
    width: 220px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    
}
.main_slide2 .fav-food .item div{
    height: 160px;
    margin-bottom: 15px;
}

.main_slide2 .fav-food .item video{
    width: 160px;
    margin-bottom: 15px;
} 

.main_slide2 .fav-food .item iframe{
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
} 
 .main_slide2 .fav-price{
    color: red;
    font-weight: bold;
    font-size: 15px;
 }

 .main_slide2 .design{
    background-color: rgb(255, 214, 176);
    height: 50%;
    width: 100%;
    position:absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
 }

 footer{
    background-color: #f7b98d;
    width: 100%;
    
}
.footerContainer{
    padding: 70px 10px 10px ;
 
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    padding:  10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 30px;
    color: rgb(167, 56, 56);
    opacity: 0,9;
}
 .socialIcons a:hover{
    background-color: #9b7a7a;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
 
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}

.col h3{
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
form {
    display: flex;
    justify-content: center;
}
form button  {
    background: transparent;
    border: 0;
    cursor: pointer;
}

form input{
    background: transparent;
    border: 2.5px solid #744949;
    border-radius: 6px;
    outline: none;
    margin: 0 10px;
    color: rgb(255, 255, 255);
}

 
.footerBottom p{
    background-color: #744949;
    padding: 40px 20px;
    text-align: center; 
    color: white; 
}
 
@media only screen and (max-width: 860px){
    .header .nav,.header .acc {
        display:none;
    }
    .search {
        width: 60vw;
    }
    .bar {
        display: block;
        cursor: pointer;
    }
    .headerbar {
        display: flex;
        flex-direction:column;
        position: fixed;
        top:0;
        bottom: 0;
        right:-100%;
        transition :all 0.5s;
        background-color: rgb(252 ,233,216);
        }
         
    .headerbar .acc, .headerbar .nav{
        display: block;
        font-size: 18px;
    }

    .bar .fa-xmark {
        display: none;
        top: 20px;
        right: 5;
        position:absolute ;
        font-size: 25px;
    }

    .headerbar .nav ul{
        flex-direction:column;
        margin-top: 10px;
        text-align: center;
    }

    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0 ;
        padding:13px 30px;
        box-shadow: 0 2px 15px rgb(252, 193, 169);
        font-size: 15px;
    }
    .headerbar .acc {
         margin-top: 60px;
        background-color: rgb(252, 210, 182);
        padding: 15px;
    }
    .headerbar .acc ul{
        justify-content: space-between;
    }
 
}
@media only screen and (max-width:650px){
     .main_slide2 .design{
        display: none;
    }

    .item{
        width: 50%;
        display: inline-block;
    }
    .main_slide2 .fav-food{
        width: 50%;
        display: inline-block;
    }
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }

    .food-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;    }
 }

 